<% @docs.each do |doc| %>
    <card>
        <h3><%= doc[:description]%></h3>
        <%= doc[:date]%><br>
        <%= link_to (image_tag doc.avatar.url(:small)), doc_path(doc) %><br>
        <%= link_to 'Delete Document', doc_path(doc), method: :delete, data: {confirm: 'Are you sure you want to delete this document?'} %>
        <hr>
    </card>    
<% end %>